
.amaze{
    background-color: var(--bg_color);
}
.title,.sub_title{
    /* display: inline-block; */
    text-align: center;
    margin-top: 5%;
    font-weight: 400;
    /* border-bottom: 2px solid rgb(205, 148, 53); */
}
.sub_title{
    color: var(--year_color);
}
.main_content_card{
    /* background-color: red; */
    height: 35rem;
    display: flex;
    gap: 8%;
    margin-top: 6%;
    
}
.main_image_{
 display: flex;
  /* border: 2px solid black; */
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  margin-left: 5%;

}
.main_card_text{
    /* display: inline-block; */
    /* border: 2px solid yellow; */
    width: 40%;
    margin-right: 6%;
    position: relative;
}
.image_content{
    display: inline-block;
    border: 2px solid white;
    width: 40%;
    height: 50%;
    /* background-color: rgb(30, 203, 97); */
    cursor: pointer;
 
}
.image_content img{
    width: 100%;
    height: 100%;
   /* filter: grayscale(100%);  */
}
.card_name_{
    text-align: center;
    font-weight: 500;
}
.card_desc{
      text-align: justify;
      margin-top: 15%;
}